<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease Risk Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts & Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    
    <style>
        body {
            background-color: #f3f3f3;
            font-family: 'Roboto', sans-serif;
        }
        .showcase {
            padding: 20px 0;
        }
        .btn-extend {
            margin-right: 10px;
        }
        .card-panel h6 {
            margin-bottom: 10px;
        }
        .collection-item {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <!-- Main Content Block -->
    {% block content %}
    {% endblock %}

    <!-- JavaScript & jQuery -->
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>
    {% endblock %}

</body>
</html>
